/* FONTS FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root {
    --main-color: #292524;
    --text-color: #fe8f25;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF
}

.bg_negro {
    background-color: var(--main-color);
}

.text_naranja_nav {
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2rem;
}

.text_naranja_nav:hover {
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
}

/* Seccion Conoceme */

.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./assets/media/Frame-15.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn_conoceme {
    background-color: var(--text-color);
    color: #000;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0.5pc 7pc;

}

.btn_conoceme:hover {
    background-color: var(--text-color);
    color: #FFFFFF;
}

/* Generales */

.margen_subtitulo {
    margin-left: 154px;
}

/* Seccion Sobre Mi */

.sobre_mi_caja {
    height: 900px;
    margin-top: 114px;
}

.tam_text_sobremi {
    width: 414px;
}

.margen_text_sobremi {
    margin: 0 auto;
}

/* Seccion Proyectos */

.margen_card_proyectos {
    margin: 3rem auto;
}

.margen_card_proyectos--Grid {
    /**
   * User input values.
   */
    --grid-layout-gap: 3rem;
    --grid-column-count: 3;
    --grid-item--min-width: 300px;
    /**
   * Calculated values.
   */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
    /**
     * Grid container.
     */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    justify-items: center;
}

.margen_card_proyectos--Grid h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.margen_card_proyectos--Grid p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

/* Seccion Habilidades */
.seccion_habilidades {
    height: 300px;
}

/* .margen_card_proyectos--flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */