/* FONTS FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-color: #292524;
    --text-color: #fe8f25;
    --text-color-2: #F5F5F5;

    --color-white: #ffffff;
    --color-black: #000000;
    --bg-proyectos: #29252412;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
}

/* NavBar */
/* Hamburguer style ---------*/
.navbar-toggler-icon  {
    background-image: url("./assets/icons/hamb.menu.png");
    padding: 20px;
}
.navbar .navbar-toggler{
    border: none;
}
.navbar .navbar-toggler {
    border: none;
    color: transparent;
}
/*Offcanvas style -------*/
.offcanvas ul li a {
    line-height: 50px;
}
.offcanvas-header .btn-close {
    background-color: var(--text-color);
    font-size: 1.5rem;
    margin: 14px 15px;
}

/* Scroll a secciones por id || comportamiento || */
#curriculo, #contacto {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

.bg_negro {
    background-color: var(--main-color);
}

.text_naranja_nav {
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2rem;
}

.text_naranja_nav:hover {
    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
}

/* Seccion Conoceme */
.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/media/Frame-15.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 120vh;
}

.main_section article {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0;
    gap: 88px;
}


.main_section article h1 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80.45px;
    color: var(--text-color-2);
}

.subt_conoceme {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
}

.main_section a {
    text-decoration: none;
    color: #000000;
}

.btn_conoceme {
    display: flex;
    padding: 16px 125px;
    background-color: var(--text-color);
    color: var(--color-black);
    border-radius: 6px;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.btn_conoceme:hover {
    color: var(--color-white);
}

.btn_conoceme:focus {
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
}

/* Generales */

.no_mostrar {
    display: none;
}

.margen_subtitulo_centrado {
    text-align: center;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}



h4 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}




/* Seccion Sobre Mi */

.sobre_mi_caja {
    height: 448px;
    margin-top: 200px;
}

.tam_text_sobremi {
    width: 491px;
    height: 243.64px;
    padding-top: 32px;
}

.tam_text_sobremi p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    line-height: 18.75px;
    text-align: justify;
}

.margen_text_sobremi {
    margin: 0 auto;
}




/* Seccion Proyectos */
.seccion_proyectos {
    background-color: var(--bg-proyectos);
    padding: 170px;
}

.seccion_proyectos h2 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--color-black);
    margin-bottom: 40px;
}


.margen_card_proyectos--Flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.margen_card_proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    margin-top: 24px;  
    margin: 0 23px;
    width: 343.57px;
    height: 320.18px;
}

.margen_card_proyectos--Flex h5 {
    font-family: 'Merriweather Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 25.14px;
    margin: 10px 0 8px 0;
}

.margen_card_proyectos--Flex p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    width: 309px;
    height: 69px;
}

.margen_card_proyectos a {
    text-decoration: none;
}

#verMas {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
}

.ocultar {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.mostrar {
    height: 100%;
    opacity: 1;
    overflow: visible;
    transition: all 0.7s ease-in-out;
}

/* Seccion Curriculo */

.caja_texto_experLaboral {
    width: 500px;
    margin: 0 auto;
}


.caja_texto_experLaboral h4{
    margin-top: 24px;
    font-family: 'Merriweather Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 30.17px;
    
}

.text_expLaboral {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.caja_texto_experLaboral p {
    margin-bottom: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.09px;
}

.caja_texto_experLaboral p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}


/* Seccion Habilidades */
.seccion_habilidades {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.seccion_habilidades h4 {
    width: 500px;
    margin-top: 100px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    align-items: flex-start;
    font-size: 24px;
    line-height: 30.17px;
    margin-top: 24px;
}

/* ---- Barra de progreso / meter */
.barra_progreso_caja {
    margin-top: 24px;
    width: 518px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    padding-left: 24px;
}

.barra_progreso_caja span {
    width: 96.4px;
    margin-right: 16px;
}


.barra_progreso_caja div {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.09px;
}

.barra_progreso_caja div span {
    padding: 4px;
}

.barra_progreso {
    display: absolute;
    width: 243.62px;
    height: 9px;
    background: #D9D9D9;
    border-radius: 15px;
    left: 17.69px;
    top: 14.5px;
    margin-top: 4px;
}

.barra_progreso--porcentaje {
    width: 0%;
    height: 100%;
    background: #fe8f25;
    border-radius: 15px;
}

/*----- CV   */
.caja_curriculum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.caja_curriculum p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    margin-top: 38px;
    margin-bottom: 24px;
}

.caja_curriculum a {
   text-decoration: none;
   color: var(--color-black);
   border: 0;
}

.caja_curriculum .btn_descargarCV {
    border: 0;
    background-color: var(--text-color);
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 88px;
    gap: 8px;
    border-radius: 6px;
}

.btn_descargarCV:hover {
    color: var(--color-white);
}


/* Seccion Contacto*/
.seccion_contacto {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .seccion_contacto h4 {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 50.28px;
    margin-bottom: 38px;
}

.seccion_contacto article {
    width: 600px;
    margin-top: 86px;
}

.seccion_contacto--perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.seccion_contacto--perfil p {
    margin: 0;
    font-size: 18px;
}

.seccion_contacto--redes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}

.seccion_contacto--redes a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 28.13px;
    color: var(--text-color);
}

.seccion_contacto--redes a img {
    width: 40px;
    height: 40px;
    margin: 16px;
}


/* ------ MEDIA Querys ---- */

@media only screen and (max-width: 810px) and (min-width: 320px) {

    /* NavBar ------*/
    /*  Hamburguer style -----------*/
    .navbar-collapse ul  {
        height: 50vh;
    }
    .navbar-collapse ul li  {
        line-height: 50px;
    }
    .navbar-toggler-icon  {
        background-image: url("./assets/icons/hamb.menu.png");
        padding: 20px;
    }
    .navbar .navbar-toggler{
        border: none;
    }
    .navbar .navbar-toggler {
        border: none;
        color: transparent;
    }

    /*  OffCanvas style -----------*/
    .offcanvas {
        width: 90% !important;
    }
    .offcanvas ul li a {
        line-height: 50px;
    }
    .offcanvas-end.show {
        height: 90vh;
    }




    /* Seccion Conoceme ---*/
    .main_section {
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
    }

    .main_section article {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .main_section article h1 {
        font-size: 32px;
        line-height: 40.22px;
        transform: translateY(3rem);

    }

    .subt_conoceme {
        font-size: 20px;
        line-height: 23.44px;
        transform: translateY(-6rem);

    }

    @media only screen and (orientation: landscape) {
        .subt_conoceme {
            transform: translateY(3rem);
        }
    }

    .btn_conoceme {
        font-size: 14px;
        line-height: 16.41px;
        width: 326px;
        height: 48px;
    }


    /* Sobre mi -----------*/
    .sobre_mi_caja {
        height: auto;
    }

    .tam_text_sobremi {
        height: 373px;
        width: 340px;
        padding: 24px, 16px, 24px, 16px;
        margin-bottom: 200px;
    }

    .tam_text_sobremi p {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.07px;
        letter-spacing: 0em;
        text-align: justify;
    }


    /* Proyectos  ----------------*/

    #proyectos {
        scroll-behavior: smooth;
        scroll-margin-top: 180px;
    }

    .seccion_proyectos {
        background-color: var(--color-white);
        padding: 16px 0;
        gap: 0px;
    }

    .seccion_proyectos h2 {
        font-size: 32px;
        line-height: 40.22px;
    }


    .margen_card_proyectos--Flex {
        flex-direction: column;
    }

    .margen_card_proyectos {
        margin: 0 auto;
        width: 340px;
        height: 320.18px;
    }

    .margen_card_proyectos img {
        align-self: center;
        width: 98%;
    }

    .margen_card_proyectos--Flex h5 {
        font-family: 'Merriweather Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 25.14px;
        margin: 0 0;
    }

    .margen_card_proyectos--Flex p {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        width: 309px;
        height: 69px;
    }


    /* Seccion Curriculo ------------- */
    #curriculo {
        scroll-behavior: smooth;
        scroll-margin-top: 100px;
    }

    .curriculo_caja {
        height: 548px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .curriculo_caja h2 {
        font-weight: 400;
        font-size: 32px;
    }

    .caja_texto_experLaboral {
        width: auto;
        margin: 20px 20px;
        margin-top: 32px;
        max-width: 300px;
    }

    .caja_texto_experLaboral h4 {
        display: none;
    }




    /* Seccion Habilidades */
    .seccion_habilidades {
        width: auto;
    }

    .barra_progreso_caja div span {
        margin: 0 0;
        padding: 0 0;
    }

    .seccion_habilidades h4 {
        width: auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 25.14px;
    }

    /* ---- Barra de progreso / meter */
    .barra_progreso_caja {
        width: auto;
        padding-left: 0;
    }

    .barra_progreso_caja span {
        width: 96.4px;
        margin-right: 0px;
    }

    .barra_progreso_caja div span {
        font-size: 18px;
    }

    .barra_progreso {
        width: 209px;
    }

    /*----- CV ----------------  */
    .caja_curriculum p {
        font-size: 0.8rem;
        line-height: 16.41px;
    }

    .btn_descargarCV {
        height: 48px;
        width: 326px;
    }

    .caja_curriculum div a .btn_descargarCV {
        font-size: 0.75rem;
    }

    /* Seccion Contacto ----------*/
    .seccion_contacto h4 {
        font-size: 32px;
    }

    .seccion_contacto article {
        width: 300px;
        margin-top: 0px;
    }

    .seccion_contacto--redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-10px);
    }

    .seccion_contacto--redes:nth-child(3) {
        flex-direction: column-reverse;
    }

    .seccion_contacto--redes a:nth-child(2) {
        transform: translateY(35px);
    }

    .seccion_contacto--redes a:nth-child(1) {
        transform: translateY(-90px);
    }

}