/* FONTS FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-color: #292524;
    --text-color: #fe8f25;
    --text-color-2: #F5F5F5;

    --color-white: #ffffff;
    --color-black: #000000;
    --bg-proyectos: #29252412;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-white);
}

/* Scroll a secciones por id */
body #curriculo, #contacto {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

.bg_negro {
    background-color: var(--main-color);
}

.text_naranja_nav {
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2rem;
}

.text_naranja_nav:hover {
    color: var(--color-white);
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
}

/* Seccion Conoceme */
.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./assets/media/Frame-15.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 88px;
    width: 605px;
    height: 206px;
}

.main_section h1 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: var(--text-color-2);
}

.subt_conoceme {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
}

.main_section a {
    text-decoration: none;
    color: #000000;
}

.btn_conoceme {
    display: flex;
    padding: 16px 125px;
    background-color: var(--text-color);
    color: var(--color-black);
    border-radius: 6px;
    gap: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.btn_conoceme:hover {
    color: var(--color-white);
}

.btn_conoceme:focus {
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
}

/* Generales */

.no_mostrar {
    display: none;
}

.margen_subtitulo {
    text-align: center;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}



h4 {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}




/* Seccion Sobre Mi */

.sobre_mi_caja {
    height: 448px;
    margin-top: 200px;
}

.tam_text_sobremi {
    width: 491px;
    height: 243.64px;
    padding-top: 32px;
}

.tam_text_sobremi p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-top: 8px;
    line-height: 18.75px;
    text-align: justify;
}

.margen_text_sobremi {
    margin: 0 auto;
}




/* Seccion Proyectos */
.seccion_proyectos {
    background-color: var(--bg-proyectos);
    padding: 170px;
}


.margen_card_proyectos--Grid {
    /**
   * User input values.
   */
    --grid-layout-gap: 1rem;
    --grid-column-count: 2;
    --grid-item--min-width: 300px;
    /**
   * Calculated values.
   */
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
    /**
     * Grid container.
     */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}


.margen_card_proyectos {
    margin: 2.7rem 3rem;
    align-items: center;
}

.margen_card_proyectos--Grid h5 {
    font-family: 'Merriweather Sans';;
    font-size: 1.25rem;
    font-weight: bold;
}

.margen_card_proyectos--Grid p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    width: 313px;
    height: 50px;
}

.margen_card_proyectos a {
    text-decoration: none;
}

#verMas {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    cursor: pointer;
}

.ocultar {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.mostrar {
    height: 100%;
    opacity: 1;
    overflow: visible;
    transition: all 0.7s ease-in-out;
}

/* Seccion Curriculo */

.curriculo_caja {
    height: 548px;
    margin-top: 100px;
}

.caja_texto_experLaboral {
    width: 500px;
    margin: 0 auto;
}


.caja_texto_experLaboral h4{
    margin-top: 24px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 24px;
    line-height: 30.17px;
    
}

.text_expLaboral {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.caja_texto_experLaboral p {
    margin-bottom: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
}

.caja_texto_experLaboral p span {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 18.75px;
}


/* Seccion Habilidades */
.seccion_habilidades {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.seccion_habilidades h4 {
    width: 500px;
    margin-top: 100px;
    font-family: 'Merriweather Sans';
    font-weight: bold;
    align-items: flex-start;
    font-size: 24px;
    line-height: 30.17px;
    margin-top: 1.7rem;
}

/* ---- Barra de progreso / meter */
.barra_progreso_caja {
    width: 500px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21.09px;
    margin-top: 1.7rem;
}

.barra_progreso_caja span {
    width: 96.4px;
    margin-right: 16px;
}

.barra_progreso_caja div {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 21.09px;
    margin-bottom: 16px;
}

.barra_progreso {
    width: 320px;
    height: 12px;
    background: #D9D9D9;
    border-radius: 15px;
}

.barra_progreso--porcentaje {
    width: 0%;
    height: 100%;
    background: #fe8f25;
    border-radius: 15px;
}

/*----- CV   */
.caja_curriculum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.caja_curriculum p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    margin-bottom: 16px;
}

.caja_curriculum a {
   text-decoration: none;
   color: var(--color-black);
   border: 0;
}

.caja_curriculum .btn_descargarCV {
    border: 0;
    background-color: var(--text-color);
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 88px;
    gap: 8px;
    border-radius: 6px;
}

.btn_descargarCV:hover {
    color: var(--color-white);
}


/* Seccion Contacto*/
.seccion_contacto {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .seccion_contacto h4 {
    font-family: 'Merriweather Sans';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 50.28px;
    margin-bottom: 38px;
}

.seccion_contacto article {
    width: 600px;
    margin-top: 86px;
}

.seccion_contacto--perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.seccion_contacto--perfil p {
    margin: 0;
}

.seccion_contacto--redes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}

.seccion_contacto--redes a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28.13px;
    color: var(--text-color);
}

.seccion_contacto--redes a img {
    width: 40px;
    height: 40px;
    margin: 16px;
}